body{
    font-family: sans-serif; /*Шрифт*/
    text-transform: uppercase; /*Текст в верхнем регистре*/
    background-color: white; /*Фон страницы*/
    margin:0; /*Внешние отступы*/
	padding:0; /*Внутренние отступы*/
    border: 5px solid black; /*Граница сайта*/
}

/*Шапка*/
#header{
    display:flex; /*Позиционирование блоков*/
}

#logo{
    display:flex; /*Позиционирование блоков*/

}

#menu{
    display:flex; /*Позиционирование блоков*/
    position: fixed; /*Фиксация при скроле*/
}

.urlmenu{
    display:flex; /*Позиционирование блоков*/
}

#logo{
    top: 30px;
    left: 80px;
    height: 15vh;
    border-radius: 100%; /*Скругление углов*/
}